/*

Breakpoints

Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}

Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}

Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}

Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...}

Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...}
*/

html {
    font-family: "Inconsolata", "Montserrat", sans-serif, helvetica;
    --text_color: hsl(0, 0%, 20%);
    color: var(--text_color);
    background-color: #F8F9F9;
}

body {
    margin: 0;
    padding: 0 0 66px 0;
    min-height: 95vh;
    position: relative;
    overflow-x: hidden;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

/* Navbar */

#navbar {
    height: 4rem;
    background-color: rgba(0,0,0,0.23);
    display: flex;
}

#navbar a {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
}

#navbar a:not(#home).active {
    border-bottom: solid 1px #fff;
}

#navbar img {
    height: 2.5rem;
    margin: 0 1rem;
}

#navbar div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

#navbar button {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    border: none;
    background: none;
    justify-content: center;
    margin-right: 1rem;
}

#navbar button span {
    width: 2rem;
    height: 0.4rem;
    background-color: #fff;
    border-radius: 0.2rem;
}

#navbar button span:not(:last-of-type) {
    margin-bottom: 0.3rem;
}

#home {
    font-family: "Inconsolata"
}

@media screen and (max-width: 768px) {
    #navbar {
        justify-content: space-between;
    }

    #navbar button {
        visibility: visible;
    }

    #navbar div {
        flex-direction: column;
        background-color: rgba(0,0,0,0.7);
        transition: transform ease 0.4s;
        position: absolute;
        width: 100%;
        height: 60vh;
        transform: translateY(-100%);
        padding: 1rem 0;
        font-size: 1.2rem;
        z-index: 999;
    }

    #navbar div a:not(:last-of-type) {
        margin-bottom: 0.5rem;
    }

    #navbar.show div {
        transform: translateY(4rem);
    }

}

/* General */

.content > h1 {
    margin-left: 2rem;
}

/* Startpage */

#landing {
    background-image: url('../img/D-12.jpg');
    background-position: center;
    object-fit: cover;
    height: 80vh;
    width: 100%;
}

#landing-title {
    width: 50%;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    margin: 0;
    padding: 2rem 0 0 3rem;
    box-sizing: border-box;
}

#landing p {
    width: 50%;
    height: 100%;
    text-align: justify;
    padding: 1rem 3rem 3rem 3rem;
    box-sizing: border-box;
    margin: 0;
    font-size: calc(0.7rem + 0.7vw);
    background-color: rgba(0,0,0,0.6);
    color: #fff;
}

#news {
    padding: 2rem;
}

#news h2 {
    border-top: solid 1px #ccc;
    max-width: 220px;
    margin: auto;
    padding: 2rem 0;
}

#news h2,
#news h3,
#news h4 {
    text-align: center;
}

#news article {
    margin: 2rem;
    padding: 4rem;
    /*background-color: #FDF2E9;*/
    background-color: #fff;
    border-radius: 0.2rem;
}

#news article:last-of-type section {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 2rem;
}

#news article:last-of-type img {
    max-height: 40vh;
    width: 100%;
    object-fit: cover;

}

@media (min-width: 769px) and (max-width: 992px) {
    #landing p,
    #landing-title {
        width: 60%;
    }
}


@media screen and (max-width: 768px) {
    #landing p,
    #landing-title {
        width: 100%;
    }

    #news {
        padding: 2rem 1rem;
    }

    #news article {
        margin: 1rem 0;
        padding: 1rem;
    }

    #news article:last-of-type section {
        display: block;
    }

}


/* Tourists */

#tourists-wrapper {
    /*text-align: center;*/
    padding: 2rem 5vw;
}

#tourists-wrapper h1 {
    margin: auto 0;
}

#tourists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 2rem 0;

}

#tourists article {
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#tourists img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 60vh;
}

@media screen and (max-width: 768px) {
    #tourists {
        grid-template-columns: 100%;
    }

    #tourists article {
        padding: 0 1rem 2rem 1rem;
    }

    #tourists img:nth-of-type(2) {
        grid-row: 3;
    }

    #tourists img:nth-of-type(4) {
        grid-row: 7;
    }


}


/* Guests */

#guests {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 2rem;
}

#guests section {
    padding: 0 2rem;
}

#guests article {
    text-align: justify;
}

#guests h2 {
    margin-top: 0;
}

#guests img {
    width: 100%;
    max-height: 80vh;
    object-fit: cover;
    object-position: top;
}

#weather {
    margin-bottom: 2rem;
}

#weather table {
    text-align: center;
}

#weather table,
#weather th,
#weather td {
    border: solid 1px #666;
    border-collapse: collapse;
}

#weather th,
#weather td {
    padding: 1rem;
}

#guest-images {
    position: relative;
    top: -3rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "leftup rightup"
    "leftup rightdwn"
    "leftdwn rightdwn";
    grid-gap: 1rem;
}

#guest-images img {

}

#guest-images img:nth-of-type(1) {
    grid-area: leftup;
}

#guest-images img:nth-of-type(2) {
    grid-area: rightup;
}

#guest-images img:nth-of-type(3) {
    grid-area: leftdwn;
}

#guest-images img:nth-of-type(4) {
    grid-area: rightdwn;
}

@media screen and (max-width: 768px) {
    #guests {
        display: block;
        padding: 0 2rem 2rem 2rem;
    }

    #guests section {
        padding: 0;
    }

    #guests article {
        padding: 0 0 2rem 0;
    }

    #weather th,
    #weather td {
        padding: 0.3rem;
    }

    #guest-images {
        top: 0;
    }
}


/* Members */

#table-overflow {
    overflow-x: scroll;
}

#members {
    margin: 0 2rem;
    border-collapse: collapse;
}

#members th,
#members td {
    padding: 1rem;
    text-align: left;
}

#members th {
    background-color: #977272;
    color: #fff;
    min-width: 120px;
}

#members tr:not(:last-of-type) td {
    border-bottom: solid 1px #666;
}

#members tr {
    transition: ease 0.2s;
}

#members tr:hover {
    background-color: rgb(223,224,224);
    opacity: 0.95;
}

@media screen and (max-width: 768px) {
    #members th {
        min-width: 0;
    }

    #members th,
    #members td {
        font-size: 0.8rem;
        padding: 0.5rem 0.3rem;
    }
}


/* Contact */

#contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

#contact div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#contact p {
    line-height: 2rem;
    font-size: 1.5rem;
}

#contact form {
    min-width: 60%;
}

#form {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

#form input[type="text"],
#form input[type="email"],
#form textarea {
    padding: 0.8rem;
    border-radius: 0.25rem;
    border: solid 1px #ccc;
}

#form > li {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

#form li h3 {
    margin-top: 0;
}

#form label {
    margin-bottom: 0.5rem;
}

#form li:nth-of-type(5) {
    flex-direction: row;
}

#form li:nth-of-type(5) span {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#form li:nth-of-type(5) span:first-of-type {
    margin-right: 1rem;
}

#form-method {
    display: flex;
    padding: 0;
    list-style: none;
}

#form-method input,
#form-method label {
    margin-right: 1rem;
}

#form input[type="submit"] {
    width: 50%;
    align-self: center;
    border: none;
    padding: 1rem 2rem;
    background-color: #3d3d3d;
    border-radius: 0.25em;
    text-align: center;
    color: #fff;
    margin: 1rem 0;
    transition: opacity ease 0.2s;
}

#form input[type="submit"]:hover {
    cursor: pointer;
}

#map {
    position: relative;
    width: 100vw;
    height: 50vh;
    margin-top: 6rem;
}

#map:before {
    position: absolute;
    content: '';
    width: 20vw;
    height: 1px;
    background-color: #ccc;
    top: -3rem;
    left: 0;
    right: 0;
    margin: auto;
}

#map img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}


@media (min-width: 769px) and (max-width: 992px){
    #contact {
        grid-template-columns: 2fr 3fr;
    }
}


@media screen and (max-width: 768px) {
    #contact {
        display: block;
    }

    #form li:nth-of-type(5) {
        flex-direction: column;
    }

    #form li:nth-of-type(5) span {
        margin-top: 1rem;
    }

    #form li:nth-of-type(5) span:first-of-type {
        margin-right: 0;
    }
}


/* History */

#history {
    padding: 2rem;
}

#history h1 {
    margin-left: 0;
}

#history img {
    width: 100%;
    max-width: 540px;
    object-fit: cover;
}


/* English */

#english {
    padding: 2rem;
}

#english h1 {
    margin-left: 0;
}

/* Footer */

#footer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding: 1.5rem 0;
    background-color: #ccc;
    color: #fff;
}

#footer pre {
    margin: 0;
}


@media screen and (max-width: 600px) {
    #footer {
        font-size: 0.9rem;
    }
}

